
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

*{
  margin:0;
  padding:0;
}


:root{
--mainBlue:#001d3d;
--fontColor:#717178;
--mainBlack: #000814;
--mainWhite:#FBFBFB;
}

body{
  font-family: 'Inter', sans-serif;
box-sizing: border-box;
position: relative;
background-color: var(--mainWhite);
}

a{
text-decoration: none;
}

p{
color: var(--fontColor);
}